html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.nav {
    margin-top: auto;
    border: 2;
    border-color: black;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.5em;
    font-weight: bold;
    background-color: black;
}

.item{
    text-decoration: none;
    color: whitesmoke;
}